*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.main{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

#text{
    margin-top: 40px;
}

#search{
    margin-top: 10px;
    margin-bottom: 40px;
}

.controls{
    display: flex;
    justify-content: center;
}

.btn{
    margin:10px;
}